<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
    <suite name="Suite"  > 
    <!-- suite name="Suite Name" --> 
            <suite-files>
                   <suite-file path="./testngA.xml" />
                   <suite-file path="./testngB.xml" />
                   <suite-file path="./testngC.xml" />
            </suite-files>
    </suite>